*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
  font-size: 16px;
}

a{
  color: rgb(255, 255, 255);
  background-color: transparent;
}

ul.menu{
  display: flex;
  flex-direction: row;
  align-items: flex-start ;
  justify-content: space-evenly;
  background-color: #161A30;
  color: #ffffff;
  padding: 10px;
}
ul img{
  width: 170px;
  padding: 10px;
}
.headitem{
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}
.headitem-button{
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  background-color: #F0ECE5;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  padding: 1%;
  flex-grow: 1;
  flex-shrink: 1;
}
.box1{
  width: 600px;
  background-color: #F0ECE5;
  border-radius: 5px;
  padding: 5px;
}
.box2{
  width: 600px;
  background-color: #F0ECE5;
  border-radius: 5px;
  padding: 5px;
}
.box1 img{
  width: 80%;
  float: right;
  border-radius: 5px;
}
.box2 img{
  width: 80%;
  float: right;
  border-radius: 5px;
}
.boxes p{
  padding: 5px;
  font-weight: 400;
}

footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #161A30;
  float: bottom;
  padding: 2%;
  margin-top: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  color: #ffffff;
  justify-content: space-evenly;
  overscroll-behavior: contain;
}