*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('/IMGs/cansashcity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
  left: 35%;
  margin-top: -350px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: auto;
  font-size: 50px;
  background-color: #ffffff;
  padding: 1%;
  border-radius: 10px;
}

ul{
  list-style: none;
  background-color: rgb(255, 255, 255);
}
ul li{
  display: inline-block;
  position: relative;
}
ul li a{
  display: block;
  padding: 20px 25px;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: black;
}
ul li ul.dropdown li{
  display: block;
}
ul li ul.dropdown{
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover{
  background-color: rgb(170, 170, 170);
}
ul li:hover ul.dropdown{
  display: block;
}
ul li.right{
  float: right;
}
ul li.buy{
  color: #ffffff;
  float: right;
  background-color: red;
}