*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}
nav {
  background: #222;
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {   
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

@media all and (min-width: 960px) {

  .menu {
      align-items: flex-start;     
      flex-wrap: nowrap;
      background: none;
  }

  .logo {
      order: 0;
  }

  .item {
      order: 1;
      position: relative;
      display: block; 
      width: auto;
  }
  .button {
      order: 2;
  }
  .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
  }
  .toggle {

      display: none;

  }

  .submenu-active {

      border-radius: 0;

  }

}



header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
header h1{
  font-size: 80px;
  border-radius: 5px;
  background-color: #F0ECE5;
  padding: 0.5%;
  border-radius: 5px;
}


.boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  padding: 1%;
  flex-grow: 1;
  flex-shrink: 1;
}
.box1{
  width: 600px;
  background-color: #F0ECE5;
  border-radius: 5px;
  padding: 5px;
}
.box2{
  width: 600px;
  background-color: #F0ECE5;
  border-radius: 5px;
  padding: 5px;
}
.boxes .box1 img{
  width: 80%;
  float: right;
  border-radius: 5px;
}
.boxes .box2 img{
  width: 80%;
  float: right;
  border-radius: 5px;
}
.boxes p{
  padding: 5px;
  font-weight: 400;
}

footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #161A30;
  float: bottom;
  padding: 2%;
  margin-top: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  color: #ffffff;
  justify-content: space-evenly;
  overscroll-behavior: contain;
}